<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Video Stream</title>
  </head>
  <body>
  <img width="500" src="{{ url_for('video_feed') }}" />
  <div>
    <p>The most lookalike person: </p>
    <p style="font-size:200%;" id="pred">Initializing...</p>

  </div>
  To add a new person face upload her image along with her name. The name is used as id.
  <form action = "/uploader" method = "POST"
     enctype = "multipart/form-data">
     <input type = "file" name = "file" />
     <input name = "name" />
     <input type = "submit"/>
  </form>  
  </body>

    <script>
        var pred = document.getElementById("pred");

        setInterval(() => {
            fetch("{{ url_for('pred_feed') }}")
            .then(response => {
                    response.text().then(t => {pred.innerHTML = t})
                });
            }, 100);
    </script>
</html>
